In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_selection import VarianceThreshold

In [3]:
df = pd.read_csv('../data/segmentation_data.csv').drop('ID', axis=1)
df

      Sex  Marital status  Age  Education  Income  Occupation  Settlement size
0       0               0   67          2  124670           1                2
1       1               1   22          1  150773           1                2
2       0               0   49          1   89210           0                0
3       0               0   45          1  171565           1                1
4       0               0   53          1  149031           1                1
...   ...             ...  ...        ...     ...         ...              ...
1995    1               0   47          1  123525           0                0
1996    1               1   27          1  117744           1                0
1997    0               0   31          0   86400           0                0
1998    1               1   24          1   97968           0                0
1999    0               0   25          0   68416           0                0

[2000 rows x 7 columns]

# Removendo variáveis com baixa variância, caso haja

In [17]:
# setando o seletor para selecionar variáveis com pelo menos 80% de variância
sel = VarianceThreshold(threshold=(.8 * (1 - .8)))

In [18]:
sel.fit(df)

VarianceThreshold(threshold=0.15999999999999998)

In [19]:
sel.get_support()

array([ True,  True,  True,  True,  True,  True,  True])

## Não há variáveis com baixa variância